 .u-section-1 {
  background-image: linear-gradient(#04305a, white);
}

.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-text-1 {
  margin: 43px auto 0 344px;
}

.u-section-1 .u-video-1 {
  height: 422px;
  width: 751px;
  margin: 21px 169px 34px auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 283px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 29px;
    margin-right: auto;
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-1 .u-video-1 {
    height: 405px;
    width: 720px;
    margin-top: 41px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    height: 300px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 256px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-video-1 {
    height: 188px;
    margin-top: -258px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 6462px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  font-size: 3.75rem;
  margin: 63px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 21px 84px 0;
}

.u-section-2 .u-text-3 {
  margin: 21px 90px 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-weight: 700;
  margin: 22px 958px 0 90px;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.8;
  font-weight: 700;
  margin: 21px 830px 0 90px;
}

.u-section-2 .u-text-7 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 90px;
}

.u-section-2 .u-text-9 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 90px;
}

.u-section-2 .u-text-11 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-12 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 90px;
}

.u-section-2 .u-text-13 {
  line-height: 1.8;
  margin: 13px 73px 0 90px;
}

.u-section-2 .u-text-14 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 968px 0 84px;
}

.u-section-2 .u-text-15 {
  line-height: 1.8;
  margin: 11px 90px 0;
}

.u-section-2 .u-text-16 {
  line-height: 1.8;
  font-weight: 700;
  margin: 22px 974px 0 84px;
}

.u-section-2 .u-text-17 {
  line-height: 1.8;
  margin: 20px 90px 0;
}

.u-section-2 .u-text-18 {
  line-height: 1.8;
  font-weight: 700;
  margin: 20px 974px 0 84px;
}

.u-section-2 .u-text-19 {
  line-height: 1.8;
  margin: 20px 90px 0;
}

.u-section-2 .u-text-20 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 971px 0 90px;
}

.u-section-2 .u-text-21 {
  line-height: 1.8;
  margin: 20px 90px 0;
}

.u-section-2 .u-text-22 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-23 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-24 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-25 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-26 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 968px 0 90px;
}

.u-section-2 .u-text-27 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-28 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-29 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-30 {
  line-height: 1.8;
  font-weight: 700;
  margin: 20px 971px 0 87px;
}

.u-section-2 .u-text-31 {
  line-height: 1.8;
  margin: 13px 90px 0;
}

.u-section-2 .u-text-32 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 971px 0 87px;
}

.u-section-2 .u-text-33 {
  line-height: 1.8;
  margin: 13px 93px 0 87px;
}

.u-section-2 .u-text-34 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-35 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-36 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-37 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-38 {
  line-height: 1.8;
  font-weight: 700;
  margin: 20px 974px 0 84px;
}

.u-section-2 .u-text-39 {
  line-height: 1.8;
  margin: 20px 96px 0 84px;
}

.u-section-2 .u-text-40 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-41 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-42 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-43 {
  line-height: 1.8;
  margin: 20px 96px 0 84px;
}

.u-section-2 .u-text-44 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-45 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-46 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-47 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-48 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-49 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-50 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-51 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-52 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-53 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-54 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-55 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-56 {
  line-height: 1.8;
  font-weight: 700;
  margin: 20px 974px 0 84px;
}

.u-section-2 .u-text-57 {
  line-height: 1.8;
  margin: 20px 96px 0 84px;
}

.u-section-2 .u-text-58 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-59 {
  line-height: 1.8;
  margin: 20px 96px 0 84px;
}

.u-section-2 .u-text-60 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-61 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-62 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-63 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-64 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-65 {
  line-height: 1.8;
  margin: 13px 96px 0 84px;
}

.u-section-2 .u-text-66 {
  line-height: 1.8;
  font-weight: 700;
  margin: 13px 974px 0 84px;
}

.u-section-2 .u-text-67 {
  line-height: 1.8;
  margin: 13px 96px 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6501px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 848px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 864px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 864px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 864px;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 851px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 861px;
    margin-left: 0;
  }

  .u-section-2 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-24 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-25 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-26 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-27 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-28 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-30 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-31 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-32 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-34 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-35 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-36 {
    margin-right: 858px;
    margin-bottom: 19px;
    margin-left: 0;
  }

  .u-section-2 .u-text-37 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-38 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-39 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-40 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-41 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-42 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-43 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-44 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-45 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-46 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-47 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-48 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-49 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-50 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-51 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-52 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-53 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-54 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-55 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-56 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-57 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-58 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-59 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-60 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-61 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-62 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-63 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-64 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-65 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-66 {
    margin-right: 858px;
    margin-left: 0;
  }

  .u-section-2 .u-text-67 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-4 {
    margin-right: 628px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 500px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 644px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 644px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 644px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 631px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 641px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-34 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-36 {
    margin-top: 20px;
    margin-right: 638px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-38 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-40 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-42 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-44 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-46 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-48 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-50 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-52 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-54 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-56 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-58 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-60 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-62 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-64 {
    margin-right: 638px;
  }

  .u-section-2 .u-text-66 {
    margin-right: 638px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-4 {
    margin-right: 448px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 320px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 464px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 464px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 464px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 451px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 461px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-34 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-36 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-38 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-40 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-42 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-44 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-46 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-48 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-50 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-52 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-54 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-56 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-58 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-60 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-62 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-64 {
    margin-right: 458px;
  }

  .u-section-2 .u-text-66 {
    margin-right: 458px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 13543px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 22px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 248px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 120px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 264px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 264px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 264px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 251px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 261px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-26 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-28 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-32 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-34 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-36 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-38 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-40 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-42 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-44 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-46 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-48 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-50 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-52 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-54 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-56 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-58 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-60 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-62 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-64 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-66 {
    margin-right: 258px;
  }

  .u-section-2 .u-text-67 {
    margin-bottom: 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1252px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 29px 95px 0 73px;
}

.u-section-3 .u-image-1 {
  width: 672px;
  height: 612px;
  margin: -14px auto 0 223px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 83px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1630px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 79px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1510px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 84px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 492px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2384px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 70px;
    margin-left: 12px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 310px;
  }
}